<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/table.css" th:href="@{/css/table.css}" rel="stylesheet"/>
    <title>Horses</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Лошади</h2>
</div>

<p><a href="/horse-create">Добавить лошадь</a></p>

<div th:switch="${horses}">
    <h2 th:case="null">No horses found!</h2>
    <div th:case="*">
        <table id="customers">
            <thead>
            <tr>
                <th>№</th>
                <th>Масть</th>
                <th>Возраст</th>
                <th>Цена</th>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="horse : ${horses}">
                <td th:text="${horse.id}"></td>
                <td th:text="${horse.type}"></td>
                <td th:text="${horse.age}"></td>
                <td th:text="${horse.price}"></td>
                <td><a th:href="@{horse-update/{id}(id=${horse.id})}">Редактировать</a></td>
                <td><a th:href="@{horse-delete/{id}(id=${horse.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>